@import "../Variables/Variables.scss";

.mainPage {
  display: flex;
  align-items: flex-start;
  justify-content: left;

  h1 {
    color: $customRedColor;
  }

  h1,
  h2,
  h3,
  .answer {
    color: $customBlackColor;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  button {
    @include buttonStyle($customWhiteColor, 25px);
  }
}
