@import "../Variables/Variables.scss";

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $customRedColor;
  }

  button {
    @include buttonStyle($customWhiteColor, 25px);
  }
}
